    <div id="jumbotron">    
        <div class="jumbotron" draggable="true">
            <h1 data-bind="text: textName"></h1>
            <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
        </div>
    </div>
    <div id="div-text-img">
        <div class="div-text-img" draggable="true">
            <h3 class="selectable" data-bind="text: textName"></h3>
            <img src="images/Apple-Watch-logo-600.png" class="img-responsive selectable" />
        </div>
    </div>