@import "vars"

body
	background-color: #e5e7ee


.wrapper



.navbar-fixed-top
	background-color: #071849
	padding: 10px 16px

.sidenav 
	height: 100% /* 100% Full-height */
	width: 250px /* 0 width - change this with JavaScript */
	position: fixed /* Stay in place */
	z-index: 1 /* Stay on top */
	top: 66px
	left: 0
	background-color: #747989 
	padding-top: 60px /* Place content 60px from the top */
	transition: 0.5s /* 0.5 second transition effect to slide in the sidenav */
	padding: 16px


.sidenav a 
	padding: 8px 0
	text-decoration: none
	font-size: 25px
	color: #fff
	display: block
	transition: 0.3s


.tooltip.in 
	filter: alpha(opacity=100)
	opacity: 1

.tooltip-inner
	background-color: #fff
	color: #000
	width: auto
	max-width: 100%
	min-width: 400px
	box-shadow: 0 0 5px rgba(0, 0, 0, .12)
	padding: 25px

.tooltip.right .tooltip-arrow 
  margin-top: -7.5px
  border-width: 15px 15 15px 0
  border-right-color: #fff
  top: 100%



/*-------------------- Preview -------------------*/
#preview
	background-color: #f6f7f9
	margin-top: 81px
	margin-bottom: 15px
	margin-left: 265px
	margin-right: 15px
	padding-top: 25px
	padding-bottom: 25px
	box-shadow: 0 0 15px rgba(0, 0, 0, .2)
	border: 1px solid rgba(0, 0, 0, .15)	
	height: 100%


.drag-enter 
	border: 2px dashed #000

[draggable]
	position: relative

[draggable]:before
	content: " "
	position: absolute
	z-index: 1
	top: -5px
	left: -5px
	right: -5px
	bottom: -5px
	border: 0 solid transparent
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0)
	transition: border-color .1s, box-shadow .1s
	pointer-events: none

[draggable]:hover:before
	


#preview .container
	position: relative
	background-color: #fff
	min-height: 100px
	margin-bottom: 25px
	padding: 15px


#preview .container:before
	content: 'container'
	background-color: #697391
	font-size: 12px
	color: #fff
	padding: 5px
	position: absolute
	z-index: 2
	left: 0
	top: -26px
	pointer-events: none
	

#preview .container:after
	content: " "
	position: absolute
	z-index: 1
	top: 0
	left: 0
	right: 0
	bottom: 0
	border: 1px dashed #f46539
	display: block
	pointer-events: none

.droppable
	box-shadow: inset 0 0 10px rgba(255, 0, 0, 1) !important

.div-text-img
	padding: 15px
	border-radius: 5px
	border: 1px solid #ccc
	box-shadow: 0 3px 15px rgba(0, 0, 0, .2)
	background-color: #fff

.div-text-img *:not(.selectable)
	/* pointer-events: none */

#test-parent
	padding: 10px
	border: 1px solid #000

#test-child
	padding: 5px
	background-color: #ccc

.drop-div
	padding: 10px
	background-color: #5e85b6
	border-radius: 5px
	border: 2px dashed rgba(255, 255, 255, .85)
	outline: 4px solid rgba(244, 101, 57, .85)
	box-shadow: 0 0 20px 15px rgba(94, 133, 182, .25)
	pointer-events: none
	text-align: center
	height: 40px
	margin-bottom: 5px

.drop-div:before
	content: "+ Drop"
	color: #fff
	position: absolute
	vertical-align: -50%

.ui-mouseover-div
	position: absolute
	padding: 10px 7px
	background-color: rgba(#fff, .95)
	box-shadow: 0 2px 8px rgba(#000, .15)
	border-radius: 0
	transition: background-color 0.2s ease-in-out 0s
	/*pointer-events: none*/
	z-index: 3

.ui-mouseover-div:hover
	border-color: rgba(#2a3e73, .3)

.ui-mouseover-div i
	color: #071849
	font-size: 22px
	transition: all 0.2s ease-in-out 0s
	
.ui-mouseover-div a
	cursor: all-scroll
	padding: 5px
	background-color: rgba(#99b0cf, .07)
	display: inline-block
	border: 1px solid rgba(#071849, .2)
	border-radius: 3px
	transition: all 0.2s ease-in-out 0s
	margin: 0 3px

.ui-mouseover-div a:hover
	background-color: rgba(#f46539, 1)
	border: 1px solid rgba(#071849, .5)
	box-shadow: 0 0 5px 5px rgba(255, 255, 255, .05)

.ui-mouseover-div a:hover i
	color: #fff

.ui-mouseover-div i.fa-arrows
	transform: scale(.75, .75)

.ui-mouseover-div a:hover i.fa-arrows
	transform: translate3d(0, 0, 0) scale(1, 1) rotate(-45deg)

.ui-mouseover-div a *
	pointer-events: none


.ui-highlight-div
	pointer-events: none
	position: absolute
	border: 3px solid green

.selectable
	position: relative

#canvas
	position: fixed
	// width: 100%
	// height: 100%
	background-color: rgba(#ff0000, .0)
	top: 0
	left: 0
	z-index: 1031
	pointer-events: none
	-moz-user-select: -moz-none
	-khtml-user-select: none
	-webkit-user-select: none

#templatesContainer
	display: none